extends layout

block head
  link(href='/common.css',rel='stylesheet',type='text/css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/common.js')
  script(src='/check.js')

block content
  h1 Loading...
  #people
    | This is may be a group checker. You may want to visit the 
    a(href='http://www.steamgifts.com/forum/UHlGN', target='_blank') forum topic
    | .
  #haznot
    .cnt 0
    .n do not own the game
    .ppl
  #haz
    .cnt 0
    .n own the game
    .ppl
  #private
    .cnt 0
    .n private profiles
    .ppl
  script= 'start(\'' + group + '\', \'' + app + '\')'