extends homelayout

block content
  .list
    p Hey ho, fellow traveler!
    p If you found this tool fairly helpful,
    p and are wondering,
    p who's this person behind all of it,

  .list
    p Well.
    p I'm just your average guy,
    p playing games whenever I find the time,
    p and making useful stuffs whenever I find the time.

  .list
    p That being said,
    p these kinds of things don't pay well.
    p They don't pay at all.

  .list
    p But if you want to appreciate me just a little,
    p There's like...
  
  p
    a(href='http://steamcommunity.com/profiles/76561197984787392/wishlist/') my Steam Wishlist (you may also contact me)

  p
    a(href='http://www.amazon.de/registry/wishlist/1PPCP941XR2YG') my Amazon Wishlist

  .list
    p Or, since I basically live on music,
    p a spotify gift card to mabako@gmail.com
    p would be awesome, too.

  p Thanks.
