extends homelayout

block content
  .list
    p If you want to appreciate me just a little,
    p There's like...
  
  p
    a.star(href='http://steamcommunity.com/profiles/76561197984787392/wishlist/') my Steam Wishlist

  p
    a.star(href='http://www.amazon.de/registry/wishlist/1PPCP941XR2YG') my Amazon Wishlist

  .list
    p Or, since I basically live on music,
    p
      | a spotify gift card to 
      span.star mabako@gmail.com
    p would be awesome, too.

  p Thanks.
