extends homelayout

block content
  div
    p You can view a list of your own groups by logging in.
    p
      a(href='/!/')
        img(alt='Sign in through Steam', src='/steam.png', title='Sign in through Steam', style='float: none;')

  .list
    p
      a(href='/!/check') Check for games owned
    p
      a(href='http://www.steamgifts.com/forum/UHlGN',target='_blank') Visit the forum topic
