extends layout

block head
  link(href='/common.css',rel='stylesheet',type='text/css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
  script(src='/sort.js')
  script(src='/socket.io/socket.io.js')
  script(src='/common.js')
  script(src='/wishlist.js')

block content
  h1 Loading...
  #people
    | This is maybe the new Steam Wishlist. You may want to visit the 
    a(href='http://www.steamgifts.com/forum/UHlGN', target='_blank') forum topic
    | .
  #games
  script= 'start(\'' + group + '\')'