body {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
}
div {
  margin-top: 40px;
  margin-bottom: 40px;
}
a {
  color: black;
  text-decoration: none;
}
.list p {
  margin: 0.25em;
}
.left {
  text-align: left;
  display: inline-block;
}
.nom {
  margin-top: 0px;
  margin-bottom: 0px;
}